<div class="row">
        <div class="col-xs-6 col-md-12 col-lg-12">
          <div class="about-me">

            <h2>Welcome To Rich In SQL</h2>              
            <section id="about">        
            <p>I am a senior information systems analyst focussed primarily on T-SQL working within the public sector, I started this blog to share my experiences and things I pick up on my journey.</p>
            <p>I have some projects on <a href="https://github.com/richinsql">GitHub</a> I work on in my spare time.</p>                    
            </section>

          </div>
        </div>
      </div>