<div class="row">
        <div class="col-xs-6 col-md-12 col-lg-12">
          <div class="about-me" style="margin-top: 20px; background-color: #f2f2f2; border-radius 5px 5px 5px 5px;-webkit-border-radius:5px 5px 5px 5px;padding-top: .75rem; padding-bottom: .75rem">

            <h2>Hey! I'm Bonza</h2>              
            <section id="about">        
            <p>I am a C# & Microsoft SQL Server developer based in the U.K currently working within the public sector, I started this blog to share my experiences and things I pick up on my journey as a developer.</p>
            <p>I have some projects on <a href="https://github.com/BonzaOwl">GitHub</a> I work on in my spare time.</p>                    
            </section>

          </div>
        </div>
      </div>