<div class="row">
        <div class="col-xs-6 col-md-12 col-lg-12">
          <div class="latest-posts">
            <h2>Latest Posts</h2>
            <section>
              <!--https://stackoverflow.com/questions/20924471/for-loop-wrap-every-two-posts-in-a-div-->
              {% for post in site.posts limit: 20 %}
              <div class="home-post">


                <span class="home-post-date" style="display:inline">
                  <time><strong>Posted:</strong> {{ post.date | date: "%B %-d, %Y"  }} <strong>By:</strong> {{post.author}}</time>
                </span>

                <span class="single-category mobile-hide" style="display:inline">

                   {% for category in post.categories %}
                  <span class="category-high"><strong>In:</strong>  <a href="/categories/#{{ category | downcase }}">{{category }}</a>  </span>
                  {%endfor%}
                </span>

                <a href="{{ post.url }}">
                  <div class="home-post-title">{{ post.title }}</div>
                </a>

              </div>
              {% endfor %}

              {% include allpostslnk.html %} 

            </section>
          </div>
        </div>
      </div>