<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <div>
      <a class="brand" href="/" >Rich In SQL</a>      
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Show navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="flex collapse navbar-collapse" id="nav">
      <a href="/" class="nav-items">Home</a>
      <a href="posts" class="nav-items">Posts</a>
      <a href="categories" class="nav-items">Archive</a>
      <a href="about" class="nav-items">About</a>
    </div>
  </div>
</nav>