<nav class="nav">
        <div class="nav-container">
          <div class="links">
          <a class="link" style="padding-left:10px; padding-right: 10px;font-weight:bold;font-size:18px;text-decoration:none;color: #ffd17e" href="/">Home</a>
          <a class="link" style="padding-left:10px; padding-right: 10px;font-weight:bold;font-size:18px;text-decoration:none;color: #ffd17e" href="about">Bonza Who?!</a>
          <a class="link" style="padding-left:10px; padding-right: 10px;font-weight:bold;font-size:18px;text-decoration:none;color: #ffd17e" href="https://github.com/BonzaOwl" target="_blank">GitHub</a>
          <a class="link" style="padding-left:10px; padding-right: 10px;font-weight:bold;font-size:18px;text-decoration:none;color: #ffd17e" href="https://twitter.com/BonzaOwl" target="_blank">Twitter</a>
          </div>
        </div>
      </nav>