<!doctype html>
<html lang="en">

{% include header.html %}

<body>

  {% include nav.html %}

  <div class="container">

    <div class="main-content">

      <!-- The main site title -->
      <!--<h1 class="site-title">{{ page.title }}</h1>-->

      <!--The site description, fed from the site settings -->
      <!--<h5></h5>-->

      {% include aboutblock.html %}

      <!--Start the post loop-->

      {% include sqlserver.html %}

      {% include csharp.html %}

      {% include powershell.html %}

      <!-- <div class="row">
      <div class="col-xs-6 col-md-12 col-lg-12">  
        <div class="latest-projects" style="margin-top: 40px; background-color: #f2f2f2; border-radius 5px 5px 5px 5px;-webkit-border-radius:5px 5px 5px 5px;padding-top: .75rem; padding-bottom: .75rem">

          <h2>Latest Projects</h2>              
          <section id="photos">
            
          <div class="row" style="background: #ffd17e;padding:.75rem;margin-top: .75rem;margin-bottom: .75rem;margin-left: .75rem;margin-right: .75rem;border-radius:4px;">
            <div class="col-md-4">
              <p style="font-weight:800">SQL Server Setup</p>
            </div>
            <div class="col-md-4">
              <p>A script to help setup new instances of SQL Server</p>
            </div>
            <div class="col-md-4">
              <a href="https://github.com/BonzaOwl/SQL-Server-Setup" target="_blank"><i style="font-size: 30px; color:#f2f2f2" class="fab fa-github-square"></i></a>
            </div>
          </div>
          
          <div class="row" style="background: #ffd17e;padding:.75rem;margin-top: .75rem;margin-bottom: .75rem;margin-left: .75rem;margin-right: .75rem;border-radius:4px;">
            <div class="col-md-4">
              <p style="font-weight:800">VeganOwl.me</p>
            </div>
            <div class="col-md-4">
              <p>A repository of everything Vegan, maintained by me</p>
            </div>
            <div class="col-md-4">
              <a href="https://www.veganowl.me" target="_blank"><i style="font-size: 30px; color:#f2f2f2" class="fab fa-chrome"></i></a>
            </div>
          </div>

          <div class="row" style="background: #ffd17e;padding:.75rem;margin-top: .75rem;margin-bottom: .75rem;margin-left: .75rem;margin-right: .75rem;border-radius:4px;">
            <div class="col-md-4">
              <p style="font-weight:800">Availability Agent</p>
            </div>
            <div class="col-md-4">
              <p>The Availability Agent stored procedure gives a method of enabling and disabling SQL Server Agent Job depending on the role of the node executing the procedure in an availability group.</p>
            </div>
            <div class="col-md-4">
             <a href="https://github.com/BonzaOwl/Availability-Agent" target="_blank"><i style="font-size: 30px; color:#f2f2f2" class="fab fa-github-square"></i></a>
            </div>
          </div>

          <div class="row" style="background: #ffd17e;padding:.75rem;margin-top: .75rem;margin-bottom: .75rem;margin-left: .75rem;margin-right: .75rem;border-radius:4px;">
            <div class="col-md-4">
              <p style="font-weight:800">Frequent Agent</p>
            </div>
            <div class="col-md-4">
              <p>Frequent Agent is a SQL Server Stored Procedure that will check for frequently running SQL Agent Jobs move their Agent History from MSDB to the JobHistory_Archive table which is created inside the DBA_Tasks database and then purge the data from the MSDB database.</p>
            </div>
            <div class="col-md-4">
            <a href="https://github.com/BonzaOwl/Frequent-Agent" target="_blank"><i style="font-size: 30px; color:#f2f2f2" class="fab fa-github-square"></i></a>
            </div>
          </div>
                
          </section>

        </div>
      </div>
    </div> -->

    </div>

  </div>

  {% include footer.html %}

</body>

</html>