<!doctype html>
<html lang="en">

    {% include header.html %}

<body>

    {% include nav.html %}

    <div id="page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center fh5co-heading">
                    <h2>My Gear</h2>
                </div>
                <!--Column End-->
            </div>
            <!--Row End-->
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="margin-bottom: 1rem;">
                <img src="/assets/img/workstation.jpg">                
            </div>

            <div class="col-md-12 text-center">
                <h3>The main computer</h3>
                <ul style="list-style: none;">
                    <li><strong>Case:</strong> <a href="https://www.amazon.co.uk/gp/product/B079JVTPJK/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">Corsair Carbide Series 275R Mid-Tower ATX</a></li>
                    <li><strong>Motherboard:</strong> <a href="https://www.amazon.co.uk/gp/product/B089TNX9YT/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">Gigabyte B550M DS3H mATX Motherboard</a></li>
                    <li><strong>Processor:</strong> <a href="https://www.amazon.co.uk/gp/product/B07STGGQ18/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">AMD Ryzen 5 3600 Processor</a></li>
                    <li><strong>Memory:</strong> <a href="https://www.amazon.co.uk/gp/product/B083V93HJG/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">Crucial Ballistix 16GB (2x 8GB) 3600 MHz DDR4</a></li>
                    <li><strong>CPU Cooler:</strong> <a href="https://www.amazon.co.uk/gp/product/B07R5TQQMR/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">be quiet! Dark Rock Slim</a></li>                    
                    <li><strong>Graphics Card:</strong> <a href="https://www.amazon.co.uk/gp/product/B07QMT923B/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">MSI Nvidia GeForce GTX 1650 4GB</a></li>
                    <li><strong>Primary Storage:</strong> <a href="https://www.amazon.co.uk/gp/product/B077SQ8J1V/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">Crucial MX500 500 GB CT500MX500SSD4</a></li>
                    <li><strong>Secondary Storage:</strong> <a href="https://www.amazon.co.uk/gp/product/B0088PUEPK/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">Western Digital Blue 1TB</a></li>
                    <li><strong>Case Cooling:</strong> <a href="https://www.amazon.co.uk/gp/product/B075VGN4M1/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">3x Corsair LL120 120mm RGB Fans</a></li>
                </ul>
                <h3>Other bits</h3>
                <ul style="list-style: none;">
                    <li><strong>Monitor:</strong> <a href=""></a></li>
                    <li><strong>Keyboard:</strong> <a href="https://www.amazon.co.uk/gp/product/B010IIKHBK/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">Tecknet Mechanical Gaming Keyboard</a></li>
                    <li><strong>Mouse:</strong> <a href="https://www.amazon.co.uk/Corsair-Lightweight-Programmable-Multi-Colour-Backlighting/dp/B07RDQBFXY/ref=sr_1_2?dchild=1&keywords=corsair+harpoon+pro&qid=1601627834&sr=8-2" target="_blank">Corsair Harpoon PRO RGB</a></li>
                    <li><strong>Speakers:</strong> <a href="https://www.amazon.co.uk/gp/product/B00FSF2OSS/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">Logitech Z200 PC Speakers</a></li>  
                    <li><strong>KVM:</strong> <a href="https://www.amazon.co.uk/gp/product/B07WMG6LB7/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">ABLEWE 4 Port USB 3.0 Switch</a></li>
                    <li><strong>Mouse Mat:</strong> <a href="https://www.amazon.co.uk/gp/product/B06XV72MGR/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">JIALONG Gaming Mouse Mat</a></li>
                    <li><strong>Wireless Router:</strong> <a href="https://www.amazon.co.uk/gp/product/B00TACCPUW/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">TP-LINK TL-WR802N Wireless Router</a></li>
                    <li><strong>Network Switch:</strong> <a href="https://www.amazon.co.uk/gp/product/B07HP6ZLSM/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">TP-Link TL-SG108S 8-Port Desktop Gigabit Ethernet Switch</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% include footer.html %}

</body>

</html>