<!doctype html>
<html lang="en">

    {% include header.html %}

<body>

    {% include nav.html %}

    <div id="page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center fh5co-heading">
                    <h2>My Gear</h2>
                </div>
                <!--Column End-->
            </div>
            <!--Row End-->
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="margin-bottom: 1rem;">
                <img src="/assets/img/workstation.jpg">                
            </div>

            <div class="col-md-12 text-center">
                <h3>The main computer</h3>
                <ul style="list-style: none;">
                    <li><strong>Case:</strong> <a href="https://www.amazon.co.uk/gp/product/B079JVTPJK/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">Corsair Carbide Series 275R Mid-Tower ATX</a></li>
                    <li><strong>Motherboard:</strong> <a href="https://www.amazon.co.uk/gp/product/B089TNX9YT/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">Gigabyte B550M DS3H mATX Motherboard</a></li>
                    <li><strong>Processor:</strong> <a href="https://www.amazon.co.uk/gp/product/B07STGGQ18/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">AMD Ryzen 5 3600 Processor</a></li>
                    <li><strong>Memory:</strong> <a href="https://www.amazon.co.uk/gp/product/B083V93HJG/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">Crucial Ballistix 16GB (2x 8GB) 3600 MHz DDR4</a></li>
                    <li><strong>CPU Cooler:</strong> <a href="https://www.amazon.co.uk/gp/product/B07R5TQQMR/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">be quiet! Dark Rock Slim</a></li>                    
                    <li><strong>Graphics Card:</strong> <a href="https://www.amazon.co.uk/gp/product/B07QMT923B/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">MSI Nvidia GeForce GTX 1650 4GB</a></li>
                    <li><strong>Primary Storage:</strong> <a href="https://www.amazon.co.uk/gp/product/B077SQ8J1V/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">Crucial MX500 500 GB CT500MX500SSD4</a></li>
                    <li><strong>Secondary Storage:</strong> <a href="https://www.amazon.co.uk/gp/product/B0088PUEPK/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">Western Digital Blue 1TB</a></li>
                    <li><strong>Case Cooling:</strong> <a href="https://www.amazon.co.uk/gp/product/B075VGN4M1/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">3x Corsair LL120 120mm RGB Fans</a></li>
                </ul>
                <h3>Peripherals</h3>
                <ul style="list-style: none;">
                    <li><strong>Monitor:</strong> <a href=""></a></li>
                    <li><strong>Keyboard:</strong> <a href="https://www.amazon.co.uk/gp/product/B010IIKHBK/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">Tecknet Mechanical Gaming Keyboard</a></li>
                    <li><strong>Mouse:</strong> <a href="https://www.amazon.co.uk/Corsair-Lightweight-Programmable-Multi-Colour-Backlighting/dp/B07RDQBFXY/ref=sr_1_2?dchild=1&keywords=corsair+harpoon+pro&qid=1601627834&sr=8-2" target="_blank">Corsair Harpoon PRO RGB</a></li>
                    <li><strong>Speakers:</strong> <a href="https://www.amazon.co.uk/gp/product/B00FSF2OSS/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">Logitech Z200 PC Speakers</a></li>  
                    <li><strong>KVM:</strong> <a href="https://www.amazon.co.uk/gp/product/B07WMG6LB7/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">ABLEWE 4 Port USB 3.0 Switch</a></li>
                    <li><strong>Mouse Mat:</strong> <a href="https://www.amazon.co.uk/gp/product/B06XV72MGR/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">JIALONG Gaming Mouse Mat</a></li>
                    <li><strong>Wireless Router:</strong> <a href="https://www.amazon.co.uk/gp/product/B00TACCPUW/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">TP-LINK TL-WR802N Wireless Router</a></li>
                    <li><strong>Network Switch:</strong> <a href="https://www.amazon.co.uk/gp/product/B07HP6ZLSM/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1" target="_blank">TP-Link TL-SG108S 8-Port Desktop Gigabit Ethernet Switch</a></li>
                </ul>
            </div>
            <!--Col End-->
            <div class="col-md-12 text-center">
                <h3>Software</h3>
                <p>The below is a list of software that is installed on my workstation.</p>
                <ul style="list-style: none;">
                    <li><a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a></li>
                    <li><a href="https://visualstudio.microsoft.com/vs/community/" target="_blank">Visial Studio Community</a></li>
                    <li><a href="https://desktop.github.com/" target="_blank">GitHub Desktop</a></li>
                    <li><a href="https://www.microsoft.com/en-us/p/windows-terminal/9n0dx20hk701" target="_blank">Windows Terminal</a></li>
                    <li><a href="https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms" target="_blank">SQL Server Management Studio</a></li>
                    <li><a href="https://docs.microsoft.com/en-us/sql/azure-data-studio/download-azure-data-studio" target="_blank">Azure Data Studio</a></li>
                    <li><a href="https://1password.com/downloads/windows/" target="_blank">1Password</a></li>
                    <li><a href="https://raindrop.io/download" target="_blank">Raindrop.io</a></li>
                    <li><a href="https://www.mozilla.org/en-US/firefox/download/thanks/" target="_blank">Firefox</a></li>
                    <li><a href="https://www.spotify.com/uk/download/windows/" target="_blank">Spotify</a></li>
                    <li><a href="https://www.getpaint.net/index.html" target="_blank">Paint.net</a></li>
                    <li><a href="https://www.codesector.com/teracopy" target="_blank">Teracopy</a></li>
                    <li><a href="https://www.7-zip.org/download.html" target="_blank">7Zip</a></li>
                    <li><a href="https://slack.com/intl/en-gb/downloads/windows" target="_blank">Slack</a></li>
                    <li><a href="https://discord.com/api/download?platform=win" target="_blank">Discord</a></li>
                </ul>
                <!--List End-->
                <p>My cholcatley install file can be found <a href="https://gist.github.com/BonzaOwl/df345697e047502a902fe0e4f3c58042" target="_blank">here</a></p>
            </div>
            <!--Col End-->
            <div class="col-md-12 text-center">
                <h3>iOS Apps</h3>
                <p>I also have an iPad and iPhone that play a big part in my daily workflow, below is a list of apps and services I use on each.</p>
                <ul style="list-style: none;">
                    <li><a href="">Feedly</a> - Used to read my RSS Feed <span class="text-muted">(i)</span></li>
                    <li><a href="">Remember The Milk</a> - Task Manager (GTD) <span class="text-muted">(i)</span></li>
                    <li><a href="">Bear</a> - An advanced version of Notes <span class="text-muted">(i)</span></li>
                    <li><a href="">Raindrop.io</a> - Bookmarking <span class="text-muted">(i)</span></li>
                    <li><a href="">Slack</a> - Used to communicate with the SQL Community <span class="text-muted">(i)</span></li>
                    <li><a href="">Paprika</a> - Recipie manager <span class="text-muted">(i)</span></li>
                    <li><a href="">YNAB</a> - To manage my financial budget <span class="text-muted">(i)</span></li>
                    <li><a href="">Twitter</a> - Self explanitory <span class="text-muted">(i)</span></li>
                    <li><a href="">Apollo</a> - Reddit Client <span class="text-muted">(i)</span></li>
                    <li><a href="">DarkSky</a> - Weather App <span class="text-muted">(i)</span></li>
                    <li><a href="">Camera+</a> - Camera App <span class="text-muted">(i)</span></li>
                    <li><a href="">Audible</a> - For listening to audio books <span class="text-muted">(i)</span></li>
                    <li><a href="">Castro</a> - Podcast manager <span class="text-muted">(i)</span></li>
                    <li><a href="">Headspace</a> <span class="text-muted">(i)</span></li>
                    <li><a href="">Firefox</a> - Web browser <span class="text-muted">(i)</span></li>
                    <li><a href="">Spotify</a> - Music <span class="text-muted">(i)</span></li>
                    <li><a href="">Microsoft Authenticator</a> - Needed to 2fa on Microsoft Services <span class="text-muted">(i)</span></li>
                    <li><a href="">Kasa</a> - To turn my lights on and off in the house <span class="text-muted">(i)</span></li>
                </ul>
                <!--List End-->
                <ul class="text-muted" style="list-style: none;">
                    <li>(ii) installed on both the iPad & iPhone</li>
                    <li>(i) installed on the iPhone Only</li>
                    <li>(ip) installed on the iPad Only</li>
                </ul>
            </div>
            <!--Col End-->
        </div>
    </div>

    {% include footer.html %}

</body>

</html>